.about .banner-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  justify-content: end;
  gap: calc(var(--margin) * 4);
  perspective: 1000px;
}

.about .banner-header {
  margin-bottom: 32px;
}

.about-panels {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  height: max-content;
  padding: var(--padding);
  padding-top: calc(var(--padding) * 5);
  
  gap: var(--margin);
  perspective: 1000px;
}

.about-panel {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 0fr;
  transition: 300ms ease-in-out;
  transform: rotateY(12deg) translateZ(-32px);
  transform-origin: left center;
}

.about-panel.active {
  grid-template-rows: max-content 1fr;
  transform: rotateY(12deg) translateZ(32px) scale(1.1);
  border: 1px solid rgba(255, 152, 67, 0.1);
  z-index: 2;
}

.panel-heading{
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding: var(--padding);
  font-family: var(--title-font);
  text-align: start;
  border: 1px solid transparent;
  background-color: var(--darkest-color);
  color: var(--base-color);
  width: 100%;
  filter: opacity(0.5);
  transition: 300ms ease-in-out;
}

.panel-heading:hover {
  cursor: pointer;
  color: var(--comp-color-2);
  filter: opacity(1);
}

.about-panel.active .panel-heading{
  color: var(--comp-color-1);
  filter: opacity(1);
}

@keyframes closeTextPanel {
  from {
    height: 100%;
    padding: var(--padding);
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
  }
  to {
    height: 0%;
    padding: 0 var(--padding);
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }
}

.panel-text {
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 0.3rem;
  padding: 0 var(--padding);
  color: var(--lighter-base-color);
  padding: var(--padding);
  height: 0%;
  overflow: hidden;
  padding: 0 var(--padding);
  transition: 300ms ease-in-out;
  background-color: #181823;
  transform-origin: center;
}

.about-panel.active .panel-text {
  height: 100%;
  padding: 0 var(--padding) calc(var(--padding) * 2);
}

.about-background {
  border-left: 1px solid rgba(255, 152, 67, 0.1);
}

.about-background h3 {
  font-size: 2rem;
  margin: auto;
  padding: var(--padding);
  color: var(--base-color);
  text-align: center;
  width: max-content;
  text-decoration: underline;
  text-decoration-color: rgba(255, 152, 67, 0.3);
  text-underline-offset: 16px;
  text-decoration-thickness: 1px;
}

.about-background article {
  font-size: 1.3rem;
  line-height: 1.5rem;
  word-spacing: 0.3rem;
  color: var(--lighter-base-color);
  font-family: var(--common-font);
  text-align: left;
  padding: var(--padding);
  padding-bottom: calc(var(--padding) * 3);
}

.about-background article p {
  margin: var(--margin);
}
  