.about .banner-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  gap: calc(var(--margin) * 2);
}

.about-panels {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: var(--margin);
  grid-column: 2 / 3;
  perspective: 1000px;
}

.about-panel {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 0fr;
  transition: 300ms ease-in-out;
  transform: rotateY(-8deg);
  transform-origin: right center;
}

.about-panel.active {
  grid-template-rows: max-content 1fr;
  transform: rotateY(-8deg) translateZ(32px) scale(1.1);
}

.panel-button{
  font-size: 3rem;
  padding: var(--padding);
  font-family: var(--title-font);
  text-align: start;
  border: 1px solid transparent;
  background-color: var(--darkest-color);
  color: var(--base-color);
  width: 100%;
  filter: opacity(0.5);
  transition: 300ms ease-in-out;
}

.panel-button:hover {
  cursor: pointer;
  color: var(--comp-color-2);
  filter: opacity(1);
}

.about-panel.active .panel-button{
  color: var(--comp-color-1);
  filter: opacity(1);
}

@keyframes closeTextPanel {
  from {
    height: 100%;
    padding: var(--padding);
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
  }
  to {
    height: 0%;
    padding: 0 var(--padding);
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }
}

.panel-text {
  font-size: 1.2rem;
  line-height: 1.5rem;
  word-spacing: 0.3rem;
  padding: var(--padding);
  color: var(--lighter-base-color);
  padding: var(--padding);
  height: 0%;
  overflow: hidden;
  padding: 0 var(--padding);
  transition: 300ms ease-in-out;
}

/* .about-panel.passive .panel-text {
  animation: closeTextPanel 300ms ease-in-out forwards;
} */

.about-panel.active .panel-text {
  height: 100%;
  padding: var(--padding);
  /* animation: closeTextPanel 300ms ease-in-out forwards reverse; */
}
