
.about .banner-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  justify-content: end;
  align-items: start;
  gap: calc(var(--margin) * 3);
  grid-template-areas: 
    "intro ."
    ". bg"
    "obj obj";

  filter: opacity(0);
  animation: fadeIn 300ms 500ms ease-in-out forwards;
}

/* Introduction */
.about-introduction {
  grid-area: intro;
  padding: var(--padding);
}

.about h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--base-color);
  text-align: left;
  text-decoration: underline;
  text-decoration-color: var(--comp-color);
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;

  margin-bottom: var(--margin);
}

/* Objectives */
.about-objectives {
  grid-area: obj;
}

.objectives-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--lightest-color);
  padding: var(--padding);
  gap: var(--margin);
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.panel-buttons {
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: 1fr 1fr;
  border: 1px solid var(--lightest-color);
  padding: var(--padding);
  justify-content: center;
  align-items: center;
}

.objective-button {
  border: 1px solid var(--base-color);
  background-color: var(--darkest-color);
  padding: var(--padding);
  width: 100px;
  height: 100px;
  margin: var(--margin);
}

.objective-button:hover {
  cursor: pointer;
}

.objective-button svg {
  fill: var(--base-color);
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-position: center;
}

.panel-screen {
  border: 1px solid var(--lightest-color);
  width: 100%;
  overflow: hidden;
}

.objective-display {
  padding: var(--padding);
}

.objective-heading {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--base-color);
}




/* Background */
.about-background {
  grid-area: bg;
  padding: var(--padding);

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content;
  overflow: hidden;
}

.about-background .background-text-cont {
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  overflow: hidden;
  position: relative;
}

.about-background .background-text-cont .text-rail {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 100%);
  grid-template-rows: 1fr;
  transition: 300ms ease-in-out;
}

.background-text-cont p {
  width: 100%;
  padding: var(--padding);
}

.background-page-buttons {
  align-self: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: var(--padding);
  height: max-content;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--margin));
}

.background-page-buttons button {
  width: 12px;
  height: 12px;
  border: 2px solid var(--comp-color);
  background-color: var(--darkest-color);
  filter: opacity(0.3);
  transition: 300ms ease-in-out;
}

.background-page-buttons button:not(:disabled):hover {
  cursor: pointer;
  filter: opacity(1) brightness(1.1);
  box-shadow: 0 0 5px 1px rgba(255, 247, 233, 0.5);
  background-color: rgba(110, 194, 8, 0.3);
}

.background-page-buttons button.active {
  border: 2px solid var(--comp-color);
  background-color: var(--darkest-color);
  filter: opacity(1);
  background-color: rgba(110, 194, 8, 0.3);
}

.background-page-buttons button:disabled {
  cursor: default;
  transform: translateY(-4px) rotateZ(135deg);
}
