/* Contact banner (start) */
.contact .banner-header {
  margin-bottom: 0;
}

.contact .banner-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--margin) * 1);
}

.email.contact {
  width: max-content;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content;
  padding: var(--padding);
  align-items: center;
  column-gap: var(--margin);
  row-gap: calc(var(--margin) * 0.5);
  align-items: end;
  grid-template-areas: 
    "message click"
    "address address";
}

.email-message {
  grid-area: message;
  font-size: var(--sub-header-font-size);
  line-height: 100%;
  font-family: var(--sub-title-font);
}

.click-instruction {
  color: var(--lightest-color);
  font-family: var(--common-font);
  grid-area: click;
  font-size: var(--small-font-size);
  justify-self: end;
  filter: opacity(0.8);
}

.click-instruction.active {
  animation: fade-in 300ms ease-in-out;
}

.email.contact svg {
  width: var(--medium-icon-size);
  height: var(--medium-icon-size);
  fill: var(--base-color);
  transition: 300ms ease-in-out;
}

.email-address {
  grid-area: address;
  font-size: var(--large-font-size);
  color: var(--base-color);
  text-align: end;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: 300ms ease-in-out;
  align-self: center;

  display: grid;
  grid-template-columns: max-content 1fr;
  gap: var(--margin);
  align-items: center;
  justify-content: start;
}

.email-address:hover {
  cursor: pointer;
  color: var(--darker-base-color);
  text-decoration: underline;
  text-decoration-color: var(--comp-color);
  text-decoration-thickness: 1px;
  text-underline-offset: 16px;
}

.email-address:hover svg {
  fill: var(--darker-base-color);
}

@media (hover:none) {
  .email-address {
    text-decoration: underline;
    text-decoration-color: var(--comp-color);
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
  }

  .email-address:hover,
  .email-address:active {
    text-decoration: underline;
    text-decoration-color: var(--comp-color);
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
  }
}

.contact-links {
  align-self: end;
  justify-items: flex-end;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: calc(var(--margin) * 2);
  padding: var(--padding);
  flex: 1;
}

.contact-links a {
  background: var(--smoked-gradient);
  border: 1px solid var(--white-glow);
  box-shadow: 0 4px 4px 1px var(--darkest-color);
  padding: calc(var(--padding) * 3);  
  padding-top: calc(var(--padding) * 6); 
  display: flex;
  justify-content: center;
  align-items: end;
  transition:  200ms ease-in-out;
  transform-origin: top center;
  position: relative;
}

.contact-links a:after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: var(--radiant-gradient);
  background-position: center;
  background-size: 200%;
  transition: 500ms ease-in-out;
  transform-origin: top center;
}

.contact-links a:hover {
  border: 1px solid var(--comp-color);
  background-color: var(--darker-base-translucent);
  transform: rotateX(8deg);
}

.contact-links a:hover:after {
  background-position: right;
}

.contact-links svg {
  width: var(--medium-icon-size);
  height: var(--medium-icon-size);
  transition: 500ms ease-in-out;
}

.contact-links svg, .contact-links svg path {
  fill: var(--darker-base-color);
}

.contact-links a:hover svg,
.contact-links a:hover svg path {
  fill: var(--comp-color);
}
/* Contact banner (end) */