/* Home banner (start)*/
@keyframes popIn {
  from {
    transform: translateY(50px);
    filter: opacity(0);
  }
  to {
    transform: translateY(0px);
    filter: opacity(1);
  }
}

.banner.home {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: unset;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home.banner .banner-cont {
  width: 100%;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
  justify-content: center;
  margin: auto;

  grid-template-areas: 
    "profile-text profile-img"
    "tech profile-img";
}

.home-text {
  grid-area: profile-text;
  padding: var(--padding);
  justify-self: end;
}

.banner-cont .owner-name {
  font-size: 5rem;
  line-height: 5.3rem;
  margin-bottom: calc(var(--margin) * 0.5);
  color: var(--darker-base-color);
  text-decoration: underline;
  text-underline-offset: var(--padding);
  text-decoration-thickness: 1px;
  text-decoration-color: var(--comp-color);
  text-shadow: 0 0 10px var(--darkest-color);
}

.banner-cont .owner-title {
  font-size: 2rem;
  line-height: 2.3rem;
  font-family: var(--sub-title-font);
  color: var(--base-color);
  margin-bottom: var(--margin);
}

.home-text p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.home-picture {
  grid-area: profile-img;
  filter: opacity(0);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  /* border: 1px solid var(--base-color); */
}

.home-picture img {
  object-fit: cover;
  width: 320px;
  aspect-ratio: 1 / 1;
  /* border: 1px solid var(--base-color); */
  filter:grayscale(1);
  transition: 200ms;
  /* padding: var(--padding); */
  align-self: center;
}

.home-picture img:hover{
  filter: grayscale(0);
  transform: rotateY(0deg) scale(1.2);
}

.banner-cont h2.owner-name, 
.banner-cont h3.owner-title,
.home-text p, 
.home-picture {
  filter: opacity(0);
  animation: popIn 500ms 500ms ease-in-out forwards;
}

.home-tech {
  grid-area: tech;
  justify-self: start;
  margin: 0;
}

.home-tech .tech-cont {
  width: 100%;
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  margin-top: calc(var(--margin) * 2);
}

.tech-list {
  justify-self: start;
  list-style: none;
  display: flex;
  gap: var(--margin);
}

.tech-list li {
  transform: translateY(50px);
  filter: opacity(0);
  animation: popIn 300ms ease-in-out forwards;
} 

.tech-icon-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tech-icon-cont img {
  width: 30px;
  height: 30px;
}

.tech-icon-cont p {
  font-size: 0.8rem;
}

/* Home banner (end)*/