@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 80px;
}

:root {
  --padding: 8px;
  --margin: 16px;
  --banner-margin: 80px;
  --max-width: 1280px;
  --title-font: "Oswald", sans-serif;
  --sub-title-font: "Lato", sans-serif;
  --common-font: "Open Sans", sans-serif;

  --base-color: #537FE7;
  --lighter-base-color: #C0EEF2;
  --darker-base-color: #21209C;
  --lightest-color: #E9F8F9;
  --comp-color-1: #FF9843;
  --comp-color-2: #FFDD95;
  --triad-color-1: #00CF95;
  --triad-color-2: #6D0AD3;
  --darkest-color: #181823;
}

p {
  font-family: var(--common-font);
  font-size: 1rem;
  color: var(--lightest-color);
}

h1, h2, h3, h4, h5 {
  font-family: var(--title-font);
}

body {
  background-color: var(--darkest-color);
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../assets/bg-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.1;
}

/* Header (start) */
header {
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: background-color 200ms ease-in-out;
  border-bottom: 1px solid transparent;
}

header.scrolled {
  background-color: var(--darkest-color);
  border-bottom: 1px solid var(--lighter-base-color);
}

.header-cont {
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}

.page-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--margin);
}

.page-logo {
  cursor: pointer;
}

.page-icon{
  background-color: var(--lightest-color);
  width: 35px;
  height: 35px;
}

.page-name {
  font-size: 2.5rem;
  font-family: var(--title-font);
  display: flex;
  justify-content: start;
  align-items: center;
}

.page-name span {
  z-index: 4;
  color: var(--lightest-color);
}

.page-name span.rest {
  z-index: 3;
  overflow: hidden;
  text-overflow: clip;
  width: 0%;
  margin-right: 0px;
  transition: 400ms;
  color: transparent;
}

header.scrolled .page-name span.rest {
  width: 100%;
  margin-right: 8px;
  color: var(--lightest-color);
}

.header-links ul {
  display: flex;
  list-style: none;
  gap: calc(var(--margin) * 1.5);
  justify-content: end;
}

.header-links a {
  font-family: var(--title-font);
  color: var(--lighter-base-color);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 2rem;
  transition: 200ms ease-in-out;
}

.header-links a:visited {
  color: var(--lighter-base-color);
}

.header-links a:hover {
  color: var(--base-color);
  text-decoration-color: var(--comp-color-1);
  text-underline-offset: 8px;
}

/* Header (start) */

/* Main Common (start) */
.banner {
  margin: var(--banner-margin) 0;
  max-width: var(--max-width);
  margin: var(--banner-margin) auto;
  padding: var(--padding);
}

.banner-cont {
  width: 100%;
}

.banner-header {
  font-size: 3.5rem;
  color: var(--lighter-base-color);
  margin-bottom: calc(var(--margin) * 3);
}

/* Main Common (end) */

/* Home banner (start)*/
.banner.home {
  margin: auto;
  position: relative;
  padding-top: var(--banner-margin);
}

.home.banner .banner-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
  justify-content: center;
  margin: auto;
  margin-top: var(--banner-margin);

  grid-template-areas: 
    "profile-text profile-img"
    "tech .";
}

.home-text {
  grid-area: profile-text;
  padding: var(--padding);
  justify-self: end;
}

.banner-cont h2.owner-name {
  font-size: 5rem;
  line-height: 5rem;
  color: var(--base-color);
  text-decoration: underline;
  text-underline-offset: var(--padding);
  text-decoration-thickness: 1px;
  text-decoration-color: var(--comp-color-1);
}

.banner-cont h3.owner-title {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 8px;
  color: var(--lighter-base-color);
}

.home-text p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--lightest-color);
  width: 80%;
  margin-top: calc(var(--margin) * 3);
  word-spacing: 0.3rem;
}

.home-picture {
  grid-area: profile-img;
  filter: opacity(0);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('../assets/bg-3.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
  /* padding: 50px; */
}

.home-picture img {
  object-fit: cover;
  width: 320px;
  height: 320px;
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  background-color: var(--comp-color-1);
  filter:grayscale(1);
  transition: 200ms;
}

.home-picture img:hover{
  filter: grayscale(0);
  transform: rotateY(0deg) scale(1.2);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  border: 2px solid var(--comp-color-1);
}

.banner-cont h2.owner-name, 
.banner-cont h3.owner-title,
.home-text p, 
.home-picture {
  filter: opacity(0);
  animation: popIn 500ms 500ms ease-in-out forwards;
}

.home-tech {
  grid-area: tech;
  justify-self: start;
  margin: 0;
}

.home-tech .tech-cont {
  width: 100%;
  grid-template-columns: 1fr;
  justify-items: start;
  margin: 0;
}

.tech-list {
  justify-self: start;
  list-style: none;
  display: flex;
  gap: var(--margin);
}

@keyframes popIn {
  from {
    transform: translateY(50px);
    filter: opacity(0);
  }
  to {
    transform: translateY(0px);
    filter: opacity(1);
  }
}

.tech-list li {
  transform: translateY(50px);
  filter: opacity(0);
  animation: popIn 300ms ease-in-out forwards;
} 

.tech-icon-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  gap: 5px;
}

.tech-icon-cont img {
  width: 30px;
  height: 30px;
  color: black;
}

.tech-icon-cont p {
  font-size: 0.8rem;
}

/* Home banner (end)*/

/* Projects banner (start) */
.banner.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
}

.projects .banner-cont {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;
  gap: var(--margin);
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  list-style-type: none;
  gap: calc(var(--margin) * 2);

  padding: var(--padding);
}

.project {
  transform: translateX(-100vw);
  opacity: 0;
}

@keyframes show-project {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.project.shown {
  animation: show-project 500ms ease-in-out forwards;
}

.project.shown:nth-last-of-type(3n) {
  animation-delay: 0ms;
}

.project.shown:nth-last-of-type(3n+1) {
  animation-delay: 200ms;
}

.project.shown:nth-last-of-type(3n+2) {
  animation-delay: 400ms;
}

@media only screen and (max-width: 1145px) {
  .project.shown:nth-last-of-type(3n) {
    animation-delay: unset;
  }
  
  .project.shown:nth-last-of-type(3n+1) {
    animation-delay: unset;
  }
  
  .project.shown:nth-last-of-type(3n+2) {
    animation-delay: unset;
  }

  .project.shown:nth-last-of-type(2n) {
    animation-delay: 200ms;
  }
}

.project-cont {
  width: 100%;
  height: 100%;
  padding: calc(var(--padding) * 2);
  gap: var(--margin);
  overflow: hidden;

  background: linear-gradient(
    rgba(24, 24, 35, 0.9),
    rgb(24, 24, 35, 0.1),
    rgba(24, 24, 35, 0.8)
  );
  background-color: rgba(83, 127, 231,0.2);
  border: 1px solid rgba(24, 24, 35, 0.5);
  box-shadow: 0 0 5px 3px rgb(192, 238, 242, 0.3);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content 1fr max-content;
  align-items: center;
  grid-template-areas: 
    "preview"
    "title"
    "desc"
    "buttons";
  transition: 300ms;
}

.project-cont:hover {
  border: 1px solid rgba(255, 152, 67, 0.8);
  box-shadow: 0 0 5px 3px rgba(255, 152, 67, 0.3);
  z-index: 2;
}

.project-cont:hover .title {
  text-underline-offset: 12px;
  text-decoration-color: var(--comp-color-1);
  color: var(--base-color);
}

.project-cont:hover .project-btns button {
  background-color: var(--base-color);
}

.project-cont:hover .preview {
  filter: grayscale(0);
}

.project .title {
  grid-area: title;
  font-size: 1.5rem;
  font-family: var(--sub-title-font);
  color: var(--lighter-base-color);
  text-decoration: underline;
  text-underline-offset: 0px;
  text-decoration-thickness: 1px;
  text-decoration-color: transparent;
  transition: 300ms;
}

.project .preview {
  grid-area: preview;
  border: 1px solid transparent;
  align-self: start;
  width: 100%;
  transition: 300ms;
  filter: grayscale(1);
}

.project .description {
  grid-area: desc;
  align-self: start;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
}

.project .project-btns {
  width: 100%;
  grid-area: buttons;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  align-self: end;
  justify-self: end;
  justify-content: end;
  gap: var(--margin);
}

.project-btns button {
  width: max-content;
  height: max-content;
  font-size: 1rem;
  font-family: var(--title-font);
  background-color: var(--lighter-base-color);
  border: 1px solid transparent;
  padding: 4px;
  padding-top: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.project-btns button .button-icon {
  width: 24px;
  height: 24px;
}

.project-btns button .button-icon path {
  fill: var(--darkest-color);
  transition: 200ms;
}

.project-btns button:hover {
  cursor: pointer;
  background-color: var(--comp-color-1)!important;
  transform: translateY(-8px);
}

.more-projects-btn {
  justify-self: end;
  font-size: 1rem;
  font-family: var(--title-font);
  color: var(--lighter-base-color);
  padding: var(--padding) calc(var(--padding) * 2);
  border: 1px solid var(--lighter-base-color);
  background-color: transparent;
}

/* Projects banner (end) */

/* Contact banner (start) */
.contact .banner-header {
  margin-bottom: 0;
}

.contact .banner-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.email.contact {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: var(--padding);
  align-items: center;
  gap: var(--margin);
  align-items: end;
}

.email.contact svg {
  width: 50px;
  height: 50px;
  fill: var(--base-color);
}

.email-address {
  font-size: 3rem;
}

.contact-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: calc(var(--margin) * 2);
}

.contact-links a {
  background-color: var(--base-color);
  padding: calc(var(--padding) * 3);  
  padding-top: calc(var(--padding) * 6); 
  display: flex;
  justify-content: center;
  align-items: end;
  transition:  200ms ease-in-out;
}

.contact-links a:hover {
  background-color: var(--comp-color-1);
  transform: translateY(-16px);
}

.contact-links svg {
  width: 50px;
  height: 50px;
}

.contact-links svg, .contact-links svg path {
  fill: var(--darkest-color);
}
/* Contact banner (end) */

/* footer (start) */
footer {
  background-color: var(--darkest-color);
  border-top: 1px solid var(--comp-color-1);
}

.footer-cont {
  padding: var(--padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;
}

.footer-cont p {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  padding: var(--padding);
  text-wrap: nowrap;
  font-size: 1rem;
  color: var(--lightest-color);
}

.footer-year {
  margin-right: var(--margin);
}

.copyright-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
/* footer (end) */
