@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 80px;
}

:root {
  --padding: 8px;
  --margin: 16px;
  --banner-margin: 150px;
  --max-width: 1280px;
  --title-font: "Oswald", sans-serif;
  --sub-title-font: "Lato", sans-serif;
  --common-font: "Open Sans", sans-serif;

  --base-color: #537FE7;
  --lighter-base-color: #C0EEF2;
  --darker-base-color: #21209C;
  --lightest-color: #E9F8F9;
  --comp-color-1: #FF9843;
  --comp-color-2: #FFDD95;
  --triad-color-1: #00CF95;
  --triad-color-2: #6D0AD3;
  --darkest-color: #181823;
}

p {
  font-family: var(--common-font);
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 0.3rem;
  color: var(--lightest-color);
  text-shadow: 0 0 3px var(--darkest-color);
}

h1, h2, h3, h4, h5 {
  font-family: var(--title-font);
}

body {
  background-color: var(--darkest-color);
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../assets/bg-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.2;
}

/* Header (start) */
@keyframes fadeIn {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

header, footer {
  filter: opacity(0);
  animation: fadeIn 300ms 500ms ease-in-out forwards;
}

header {
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: background-color 200ms ease-in-out;
  border-bottom: 1px solid transparent;
}

header.scrolled {
  background-color: var(--darkest-color);
  border-bottom: 1px solid var(--lighter-base-color);
}

.header-cont {
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}

.page-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--margin);
}

.page-logo:hover {
  cursor: pointer;
}

.page-icon{
  background-color: var(--lightest-color);
  width: 35px;
  height: 35px;
}

.page-name {
  font-size: 2.5rem;
  font-family: var(--title-font);
  display: flex;
  justify-content: start;
  align-items: center;
}

.page-name span {
  z-index: 4;
  color: var(--lightest-color);
}

.page-name span.rest {
  z-index: 3;
  overflow: hidden;
  text-overflow: clip;
  width: 0%;
  margin-right: 0px;
  transition: 400ms;
  color: transparent;
}

header.scrolled .page-name span.rest {
  width: 100%;
  margin-right: 8px;
  color: var(--lightest-color);
}

.header-links ul {
  display: flex;
  list-style: none;
  gap: calc(var(--margin) * 1.5);
  justify-content: end;
}

.header-links a {
  font-family: var(--title-font);
  color: var(--lighter-base-color);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 2rem;
  transition: 200ms ease-in-out;
}

.header-links a:visited {
  color: var(--lighter-base-color);
}

.header-links a:hover {
  color: var(--base-color);
  text-decoration-color: var(--comp-color-1);
  text-underline-offset: 8px;
}
/* Header (end) */

/* Main Common (start) */
.banner {
  max-width: var(--max-width);
  margin: var(--banner-margin) auto;
  padding: var(--padding);

  filter: opacity(0);
  animation: fadeIn 300ms 500ms ease-in-out forwards;
}

.banner-cont {
  width: 100%;
}

.banner-header {
  font-size: 3.5rem;
  color: var(--lighter-base-color);
  margin-bottom: calc(var(--margin) * 3);
}
/* Main Common (end) */

/* Footer (start) */
footer {
  background-color: var(--darkest-color);
  border-top: 1px solid var(--comp-color-1);
}

.footer-cont {
  padding: var(--padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: end;
  max-width: var(--max-width);
  margin: auto;
}

.footer-cont p {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  padding: var(--padding);
  text-wrap: nowrap;
  font-size: 1rem;
  color: var(--lightest-color);
}

.footer-year {
  margin-right: var(--margin);
}

.copyright {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  fill: var(--lightest-color);
  align-self: flex-end;
}
/* Footer (end) */
