@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 80px;
}

:root {
  --padding: 8px;
  --margin: 24px;
  --banner-margin: calc(var(--margin) * 5);
  --max-width: 1280px;
  --min-width: 320px;
 
  --base-color: #BBE2EC;
  --darker-base-color: #40A2E3;
  --lightest-color: #FFF7E9;
  --comp-color: #FF9D3D;
  --darkest-color: #181823;

  --white-glow: rgba(255, 247, 233, 0.5);
  --comp-glow: rgba(255, 157, 61, 0.3);
  --darker-base-glow: rgba(64, 162, 227, 0.4);
  --darker-base-translucent: rgba(64, 162, 227, 0.1);
  --darkest-translucent: rgba(24, 24, 35, 0.8);
  --smoked-gradient: linear-gradient(
    rgba(24, 24, 35, 0.1) 5%,
    rgba(64, 162, 227, 0.1) 80%,
    rgba(24, 24, 35, 0.1)
  ); 

  --radiant-gradient: linear-gradient(
    0.15turn,
    transparent 60%,
    rgba(187, 226, 236, 0.2) 90%
  );

  --title-font: "Oswald", sans-serif;
  --sub-title-font: "Lato", sans-serif;
  --common-font: "Open Sans", sans-serif;
  
  --hero-text-font-size: 5rem;
  --header-font-size: 3.5rem;
  --sub-header-font-size: 1.5rem;

  --small-font-size: 0.8rem;
  --common-font-size: 1rem;
  --medium-font-size: 1.2rem;
  --large-font-size: 2rem;

  --small-icon-size: 24px;
  --medium-icon-size: 48px;
  --large-icon-size: 80px;
}

h1, h2, h3 {
  font-family: var(--title-font);
}

h4, h5 {
  font-family: var(--sub-title-font);
}

p {
  font-family: var(--common-font);
  font-size: 1rem;
  line-height: 150%;
  word-spacing: 0.3rem;
  text-align: left;
  color: var(--lightest-color);
}

body {
  background-color: var(--darkest-color);
  min-width: var(--min-width);
}

@keyframes flip-back {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes flip-front {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
  background-image: url('../assets/bg-1.jpg');
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.1;
  filter:grayscale(1) brightness(0.3);
  z-index: -1;
}

/* Header (start) */
@keyframes fade-in {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

header, footer {
  filter: opacity(0);
  animation: fade-in 300ms 500ms ease-in-out forwards;
}

/* Main Common (start) */
.banner {
  max-width: var(--max-width);
  margin: var(--banner-margin) auto;
  padding: var(--padding);

  filter: opacity(0);
  animation: fade-in 300ms 500ms ease-in-out forwards;
}

.banner-cont {
  width: 100%;
}

.banner-header {
  font-size: 3.5rem;
  line-height: 150%;
  color: var(--darker-base-color);
  margin-bottom: calc(var(--margin) * 2);
}

.perspective-box {
  perspective: 1000px;
}
/* Main Common (end) */
