/* Project Preview (start) */
.project-cont {
  perspective: 1000px;
}

.sprite-cont {
  width: 100%;
  aspect-ratio: 1 / 0.625;
  overflow: hidden;
  position: relative;
}

.sprite-img {
  width: 200%;
  height: 200%;
  object-fit: fill;
  top: 0%;
  left: 0%;
  position: absolute;
  transition: 300ms;
}

.sprite-img.page-1 {
  top: 0%;
  left: 0%;
}

.sprite-img.page-2 {
  top: 0%;
  left: -100%;
}

.sprite-img.page-3 {
  top: -100%;
  left: -100%;
}

.sprite-img.page-4 {
  top: -100%;
  left: 0%;
}
/* Project Preview (start) */

.banner.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
}

.projects .banner-cont {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;
  gap: var(--margin);
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  list-style-type: none;
  gap: calc(var(--margin) * 3);
  padding: var(--padding);
  margin: calc(var(--margin) * 2) 0;
}

.projects-list.minor {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--margin);
}

.project {
  filter: opacity(0);
  box-shadow: 0 0 8px 1px var(--darkest-color);
}

@keyframes show-project {
  from {
    transform: translateY(100vw);
    filter: opacity(0);
    
  }
  to {
    transform: translateY(0);
    filter: opacity(1);
  }
}

.project.shown {
  animation: show-project 500ms ease-in-out forwards;
}

.project.shown:nth-last-of-type(2n) {
  animation-delay: 200ms;
}

.project-cont {
  width: 100%;
  height: 100%;
  padding: calc(var(--padding) * 2);
  gap: var(--margin);
  overflow: hidden;

  background: linear-gradient(rgba(24, 24, 35, 0.1) 5%, rgba(64, 162, 227, 0.1) 80%, rgba(24, 24, 35, 0.1));
  border: 1px solid rgba(255, 247, 233, 0.4);
  box-shadow: inset 0 0 8px 1px rgba(64, 162, 227, 0.4);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content 1fr max-content;
  align-items: center;
  grid-template-areas: 
    "preview"
    "title"
    "desc"
    "buttons";
  transition: 300ms ease-in-out;
}

.project-cont:hover {
  border: 1px solid var(--comp-color);
  background: linear-gradient(
    rgba(24, 24, 35, 0.1) 5%, 
    rgba(64, 162, 227, 0.1) 80%,
    rgba(24, 24, 35, 0.1));
  
  background-color: rgba(64, 162, 227, 0.1);
}

.project-cont:hover .title {
  text-decoration-color: var(--comp-color);
  color: var(--darker-base-color);
}

.project-cont:hover .project-btns button {
  border: 1px solid rgba(64, 162, 227, 0.4);
  color: var(--base-color);
}

.project-cont:hover .project-btns button path {
  fill: var(--base-color);
}

.project .title {
  grid-area: title;
  font-size: var(--sub-header-font-size);
  font-family: var(--sub-title-font);
  color: var(--base-color);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(192, 238, 242, 0.3);
  transition: 300ms;
}

.project .preview {
  grid-area: preview;
  border: 1px solid transparent;
  align-self: start;
  transition: 300ms ease-in-out;
  position: relative;
  box-shadow: 0 4px 8px 1px var(--darkest-color);
}

.project .preview::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(0.15turn,
    transparent 60%,
    rgba(187, 226, 236, 0.2) 90%
  );
  background-position: center;
  background-size: 200%;
  transition: 500ms ease-in-out;
}

.project .preview:hover {
  cursor: pointer;
  transform-origin: top center;
  transform: rotateX(4deg);
  box-shadow: 0 8px 16px 1px var(--darkest-color);
}

.project .preview:hover::after{
  background-position: right;
}

.project .description {
  grid-area: desc;
  align-self: start;
  width: 100%;
}

.project .project-btns {
  width: 100%;
  grid-area: buttons;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  align-self: end;
  justify-self: end;
  justify-content: end;
  gap: var(--margin);
}

.project-btns button {
  width: max-content;
  height: max-content;
  font-size: var(--small-font-size);
  font-family: var(--sub-title-font);
  background-color: var(--darkest-color);
  border: 1px solid rgba(255, 247, 233, 0.4);
  color: var(--lightest-color);
  padding: var(--padding);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: 300ms;
}

.project-btns button .button-icon {
  width: var(--small-icon-size);
  height: var(--small-icon-size);
}

.project-btns button .button-icon path {
  fill: var(--lightest-color);
  transition: 200ms;
}

.project-btns button:hover {
  cursor: pointer;
  color: var(--comp-color)!important;
  border: 1px solid rgba(110, 194, 7, 0.4)!important;
}

.project-btns button:hover .button-icon,
.project-btns button:hover .button-icon path {
  fill: var(--comp-color);
}

.more-projects-btn {
  justify-self: end;
  font-size: var(--common-font-size);
  font-family: var(--title-font);
  color: var(--base-color);
  padding: var(--padding) calc(var(--padding) * 2);
  border: 1px solid var(--base-color);
  background-color: transparent;
}

@media (hover:none) {
  .project .title {
    text-decoration-color: var(--comp-color);
    color: var(--darker-base-color);
  }

  .project-btns button {
    border: 1px solid rgba(64, 162, 227, 0.4);
    color: var(--base-color);
  }

  .project-btns button .button-icon,
  .project-btns button .button-icon path {
    fill: var(--base-color);
  }
}